In [3]:
import plotly.io as pio
pio.renderers.default='notebook'

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [72]:
FILE_H2       = "TradeData_H2.xlsx"
FILE_NH3      = "TradeData_NH3.xlsx"
FILE_FE_STEEL = "TradeData_IronSteel.xlsx"

In [73]:
df_h2 = pd.read_excel(FILE_H2, engine="openpyxl")

In [74]:
df_nh3 = pd.read_excel(FILE_NH3, engine="openpyxl")

In [75]:
df_ironsteel = pd.read_excel(FILE_FE_STEEL, engine="openpyxl")

In [76]:
df_ironsteel.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,198015063.0,198015063.0,0,True,False
1,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,5113864.0,5113864.0,0,True,False
2,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,252265.0,252265.0,0,True,False
3,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,48971.0,48971.0,0,True,False
4,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,1600970.0,1600970.0,0,True,False

In [77]:
df_nh3.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20130101,2013,52,2013,12,DZA,Algeria,X,...,605196084.0,False,NaN,False,NaN,303850805.0,303850805.0,0,True,False
1,C,A,20130101,2013,52,2013,12,DZA,Algeria,X,...,186670786.0,False,NaN,False,NaN,94332906.0,94332906.0,0,True,False
2,C,A,20130101,2013,52,2013,12,DZA,Algeria,X,...,7999317.0,False,NaN,False,NaN,3619600.0,3619600.0,0,True,False
3,C,A,20130101,2013,52,2013,12,DZA,Algeria,X,...,9000000.0,False,NaN,False,NaN,3940734.0,3940734.0,0,True,False
4,C,A,20130101,2013,52,2013,12,DZA,Algeria,X,...,56602923.0,False,NaN,False,NaN,29573242.0,29573242.0,0,True,False

In [5]:
df_h2.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20130101,2013,52,2013,32,ARG,Argentina,X,...,6.0,False,NaN,False,NaN,594.0,594.0,0,True,False
1,C,A,20130101,2013,52,2013,32,ARG,Argentina,X,...,6.0,False,NaN,False,NaN,594.0,594.0,0,True,False
2,C,A,20130101,2013,52,2013,36,AUS,Australia,X,...,5605.0,False,NaN,False,NaN,16282.0,16282.0,0,True,False
3,C,A,20130101,2013,52,2013,36,AUS,Australia,X,...,683.0,False,NaN,False,NaN,73.0,73.0,0,True,False
4,C,A,20130101,2013,52,2013,36,AUS,Australia,X,...,2.0,False,NaN,False,NaN,381.0,381.0,0,True,False

In [6]:
df_h2["reporterDesc"].value_counts()

United Kingdom    424
Germany           371
Netherlands       318
USA               302
France            301
                 ...
Georgia             2
Paraguay            2
Kyrgyzstan          2
Timor-Leste         2
Honduras            2
Name: reporterDesc, Length: 117, dtype: int64

In [7]:
df_h2["partnerDesc"].value_counts()

World         793
Germany       137
USA           117
France        107
Belgium       104
             ...
Tajikistan      1
Nauru           1
Yemen           1
Bahamas         1
Maldives        1
Name: partnerDesc, Length: 195, dtype: int64

In [8]:
df_h2[["reporterDesc", "partnerDesc", "period"]].groupby(["reporterDesc", "partnerDesc"]).count().reset_index().sort_values(by="period", ascending=False)

     reporterDesc partnerDesc  period
276       Denmark       World      12
396       Germany     Austria      12
658      Malaysia   Singapore      12
415       Germany     Hungary      12
1156      TÃ¼rkiye       World      12
...           ...         ...     ...
914        Serbia     Germany       1
916        Serbia       Italy       1
305       Finland     Denmark       1
304       Finland       China       1
975      Slovenia      Greece       1

[1397 rows x 3 columns]

In [9]:
df_h2["period"].sort_values()

0       2013
385     2013
384     2013
383     2013
382     2013
        ...
5876    2024
5877    2024
5878    2024
5867    2024
6018    2024
Name: period, Length: 6019, dtype: int64

In [10]:
recent_years = [2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015]

In [11]:
dfs = []
for year in recent_years:
    dfi = df_h2[df_h2["period"]==year]
    dfi = dfi[dfi["partnerDesc"]!="World"]
    dfs.append(dfi[dfi["netWgt"]==dfi["netWgt"].max()])

In [12]:
dfs[5][["period", "reporterDesc", "partnerDesc", "netWgt"]]

      period reporterDesc partnerDesc      netWgt
3480    2019  Netherlands     Belgium  33392100.0

In [13]:
df_h2["qtyUnitAbbr"].describe()

count     4258
unique       2
top         mÂ³
freq      4232
Name: qtyUnitAbbr, dtype: object

In [14]:
df_h2.columns

Index(['typeCode', 'freqCode', 'refPeriodId', 'refYear', 'refMonth', 'period',
       'reporterCode', 'reporterISO', 'reporterDesc', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationCode',
       'classificationSearchCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'motCode', 'motDesc', 'qtyUnitCode', 'qtyUnitAbbr', 'qty',
       'isQtyEstimated', 'altQtyUnitCode', 'altQtyUnitAbbr', 'altQty',
       'isAltQtyEstimated', 'netWgt', 'isNetWgtEstimated', 'grossWgt',
       'isGrossWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue',
       'legacyEstimationFlag', 'isReported', 'isAggregate'],
      dtype='object')

In [15]:
dfs[0]

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
5811,C,A,20240101,2024,52,2024,124,CAN,Canada,X,...,33519300.0,False,0.0,False,NaN,6.694758e+07,6.694758e+07,0,False,True

In [36]:
data.columns

Index(['typeCode', 'freqCode', 'refPeriodId', 'refYear', 'refMonth', 'period',
       'reporterCode', 'reporterISO', 'reporterDesc', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationCode',
       'classificationSearchCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'motCode', 'motDesc', 'qtyUnitCode', 'qtyUnitAbbr', 'qty',
       'isQtyEstimated', 'altQtyUnitCode', 'altQtyUnitAbbr', 'altQty',
       'isAltQtyEstimated', 'netWgt', 'isNetWgtEstimated', 'grossWgt',
       'isGrossWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue',
       'legacyEstimationFlag', 'isReported', 'isAggregate'],
      dtype='object')

<h3> Sankey </h3>

In [78]:
def plot_sankey(data, commodity):

    trade_data = data[['reporterDesc', 'partnerDesc', 'primaryValue', 'netWgt', 'flowCode']]
    trade_data = trade_data[trade_data['flowCode'] == 'X']

    # Grouping by exporter and importer, summing the trade value
    trade_data_grouped = trade_data.groupby(['reporterDesc', 'partnerDesc'], as_index=False).sum(numeric_only=True)


    trade_data_grouped = trade_data_grouped[trade_data_grouped["partnerDesc"]!="World"]
    trade_data_grouped = trade_data_grouped.sort_values(by="primaryValue", ascending=False).reset_index().drop(columns="index")
    trade_data_grouped = trade_data_grouped.head(10)
    
    print(trade_data_grouped)

    sources = trade_data_grouped['reporterDesc'].tolist()
    targets = trade_data_grouped['partnerDesc'].tolist()
    values  = trade_data_grouped[['primaryValue', 'netWgt']].values

    # Creating a list of unique countries for nodes
    all_countries = list(set(sources + targets))

    # Mapping countries to node indices
    source_indices = [all_countries.index(country) for country in sources]
    target_indices = [all_countries.index(country) for country in targets]

    # Creating the Sankey diagram
    fig = go.Figure(data=[go.Sankey(
        node=dict(
            pad=15,
            thickness=20,
            line=dict(color='black', width=0.5),
            label=all_countries
        ),
        link=dict(
            source=source_indices,
            target=target_indices,
            value=[v[0] for v in values],
        label=[f'{s} â†’ {t}: ${round(v[0]/1000000,2)}M, {round(v[1]/1000000,0)} million tonnes' for s, t, v in zip(sources, targets, values)]
        )
    )])


    fig.update_layout(title_text=f'Global {commodity} Trade Flows', font_size=10)
    fig.show()

<h3> Global Hydrogen Trade Flows </h3>
<h4> 2013 - Present </h4>

In [81]:
plot_sankey(df_h2, "Hydrogen")

  reporterDesc  partnerDesc  primaryValue        netWgt
0       Canada          USA  6.832922e+08  3.202998e+08
1      Belgium  Netherlands  3.404488e+08  9.465227e+07
2  Netherlands      Belgium  2.883208e+08  1.497154e+08
3  Netherlands       France  1.852783e+08  4.862713e+07
4  Netherlands      Germany  6.921852e+07  1.178069e+07
5          USA       Canada  6.476219e+07  9.426696e+06
6          USA       Mexico  4.337610e+07  5.960158e+06
7      Belgium   Luxembourg  3.037714e+07  6.470630e+06
8     Malaysia    Singapore  2.984616e+07  3.640757e+06
9      Germany       France  2.698614e+07  4.355784e+06

<h3> Global Ammonia Trade Flows </h3>
<h4> 2013 - Present </h4>

In [82]:
plot_sankey(df_nh3, "Ammonia")

          reporterDesc    partnerDesc  primaryValue        netWgt
0  Trinidad and Tobago            USA  9.696355e+09  2.301892e+10
1               Canada            USA  7.951072e+09  1.327416e+10
2         Saudi Arabia          India  7.833223e+09  2.131427e+10
3   Russian Federation        Ukraine  4.838708e+09  1.464753e+10
4         Saudi Arabia  Rep. of Korea  2.052629e+09  4.924877e+09
5                 Iran          India  1.890382e+09  5.328734e+09
6  Trinidad and Tobago        Morocco  1.855773e+09  4.093073e+09
7            Indonesia  Rep. of Korea  1.708541e+09  3.901391e+09
8          Netherlands        Germany  1.673182e+09  3.104838e+09
9                Qatar          India  1.546077e+09  0.000000e+00

<h3> Global Iron/Steel Trade Flows </h3>
<h4> 2013 - Present </h4>

In [83]:
plot_sankey(df_ironsteel, "Iron/Steel")

  reporterDesc    partnerDesc  primaryValue  netWgt
0       Canada            USA  7.698235e+10     0.0
1        China  Rep. of Korea  6.752849e+10     0.0
2    Indonesia          China  6.670872e+10     0.0
3        Japan  Rep. of Korea  6.317437e+10     0.0
4          USA         Mexico  5.963444e+10     0.0
5        Japan          China  5.894774e+10     0.0
6          USA         Canada  5.870034e+10     0.0
7       Brazil            USA  5.154907e+10     0.0
8        Japan       Thailand  4.804599e+10     0.0
9        China       Viet Nam  4.724010e+10     0.0

In [1]:
!pip show pandoc

Name: pandoc
Version: 2.4
Summary: Pandoc Documents for Python
Home-page: UNKNOWN
Author: SÃƒÂ©bastien BoisgÃƒÂ©rault
Author-email: Sebastien.Boisgerault@minesparis.psl.eu
License: MIT License
Location: c:\program files\python37\lib\site-packages
Requires: ply, plumbum
Required-by:

<h3> Supply Side </h3>

In [86]:
FILE_COSTS = "Techno-Economic Energy Dataset for Hydrogen Pathways Modelling.xlsx"

df_capcosts = pd.read_excel(FILE_COSTS, sheet_name="CAPITAL COST", engine="openpyxl")

In [88]:
df_capcosts.head()

,Category,Technology,Code,Unit,Reference,2021,2022,2023,2024,2025,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Power generation \n(Dedicated Units),Solar PV,PWRSOL002,MUSD/(PJ/year),"NREL, 2022",36.123795,34.697315,33.270836,31.844356,30.417877,...,21.003050,20.795556,20.588063,20.380569,20.173076,19.965582,19.758089,19.550595,19.343102,19.135608
1,NaN,Onshore wind,PWRONW002,MUSD/(PJ/year),"NREL, 2022",42.997088,41.436661,39.876234,38.315806,36.755379,...,25.768385,25.478853,25.189321,24.899788,24.610256,24.320723,24.031191,23.741659,23.452126,23.162594
2,Hydrogen Production,Steam Methane Reforming plant,UPSSMR,MUSD/(PJ/year),"De Vos et al., 2018",20.756745,20.617674,20.479536,20.342323,20.206030,...,18.145459,18.023884,17.903124,17.783173,17.664026,17.545677,17.428121,17.311353,17.195366,17.080158
3,NaN,Steam Methane Reforming plant + CCS,UPSSMRCCS,MUSD/(PJ/year),"De Vos et al., 2018",34.081428,33.948510,33.816111,33.684228,33.552859,...,31.519301,31.396376,31.273930,31.151962,31.030469,30.909450,30.788903,30.668827,30.549218,30.430076
4,NaN,Coal gassification+CCS,UPSCGS,MUSD/(PJ/year),"Oshiro & Fujimori, 2022",92.560883,92.560883,92.560883,92.560883,92.560883,...,92.560883,92.560883,92.560883,92.560883,92.560883,92.560883,92.560883,92.560883,92.560883,92.560883

<h3> Electrolyzer Costs</h3>

In [112]:
df_alk = df_capcosts[df_capcosts["Technology"]=="ALK Electrolyzer"][[year for year in range(2021, 2051)]]
df_alk = df_alk.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_alk, x="year", y="MUSD/(PJ/year)", title="ALK Electrolyzer Cost Projections")

In [111]:
df_pem = df_capcosts[df_capcosts["Technology"]=="PEM Electrolyzer"][[year for year in range(2021, 2051)]]
df_pem = df_pem.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_pem, x="year", y="MUSD/(PJ/year)", title="PEM Electrolyzer Cost Projections")

df_soec = df_capcosts[df_capcosts["Technology"]=="SOEC Electrolyzer"][[year for year in range(2021, 2051)]]
df_soec = df_soec.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_soec, x="year", y="MUSD/(PJ/year)", title="Solid Oxide Electrolyzer Cell (SOEC) Electrolyzer Cost Projections")

<h3> Power Procurement Costs </h3>

In [115]:
df_spv = df_capcosts[df_capcosts["Technology"]=="Solar PV"][[year for year in range(2021, 2051)]]
df_spv = df_spv.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_spv, x="year", y="MUSD/(PJ/year)", title="Solar PV Power Procurement Cost Projections")

In [121]:
df_w = df_capcosts[df_capcosts["Technology"]=="Onshore wind"][[year for year in range(2021, 2051)]]
df_w = df_w.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_w, x="year", y="MUSD/(PJ/year)", title="Onshore Wind Power Procurement Cost Projections")

<h3> H2 Transport & Distribution Costs </h3>

In [123]:
df_pipeline = df_capcosts[df_capcosts["Technology"]=="Hydrogen pipeline"][[year for year in range(2021, 2051)]]
df_pipeline = df_pipeline.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_pipeline, x="year", y="MUSD/(PJ/year)", title="Hydrogen pipeline Cost Projections")

In [125]:
df_road = df_capcosts[df_capcosts["Technology"]=="Hydrogen transport by road"][[year for year in range(2021, 2051)]]
df_road = df_road.reset_index().drop(columns="index").T.reset_index().rename(columns={"index":"year", 0:"MUSD/(PJ/year)"})
px.bar(df_road, x="year", y="MUSD/(PJ/year)", title="Hydrogen Road Transport Cost Projections")